
<br />
<div class = "container">
    
    <div class="row">
        <div class="col-4"><a class="link-opacity-50" asp-area="admin" asp-controller="orders" asp-action="index">Заказы</a></div>
    </div>
</div>
<div class = "container">
    <div class="row">
        <div class="col-4"><a class="link-opacity-50" asp-area="admin" asp-controller="users" asp-action="index">Пользователи</a></div>
    </div>
</div>
<div class = "container">
    <div class="row">
        <div class="col-4"><a class="link-opacity-50" asp-area="admin" asp-controller="roles" asp-action="index">Роли</a></div>
    </div>
</div>
<div class = "container">
    <div class="row">
        <div class="col-4"><a class="link-opacity-50" asp-area="admin" asp-controller="products" asp-action="index">Продукты</a></div>
    </div>
</div>