@model UserViewModel

<h4><center>ИНФОРМАЦИЯ О ПОЛЬЗОВАТЕЛЕ</center></h4>

@{
    ViewData["Title"] = "Admin Page - User";
}

    <div class="container"> 
             <div class="row">

        <div class="col-2">
            @await Html.PartialAsync("AdminPanel")
        </div>

<div class="container">
 <div class="row">

 <div class="col-sm-offset-3 col-sm-6">
 <form method="post" class="form-horizontal">
     <div class="validation" asp-validation-summary = "ModelOnly"></div>
 <div class="form-group"> 
 <input asp-for="Name" class="form-control" placeholder="Имя"/>
 <span class="text-danger" asp-validation-for="Name"></span>
 <i class="fa fa-user"></i>
 </div> 
 <div class="form-group help">
 <input asp-for="SurName"  class="form-control" placeholder="Фамилия"/>
 <span class="text-danger" asp-validation-for="SurName"></span>
 <i class="fa fa-user"></i>
 <a href="#" class="fa fa-question-circle"></a>
 </div> 
 <div class="form-group help">
 <input asp-for="Phone"  class="form-control" placeholder="Телефон"/>
 <span class="text-danger" asp-validation-for="Phone"></span>
 <i class="fa fa-phone"></i>
 <a href="#" class="fa fa-question-circle"></a>
 </div> 
 <div class="form-group help">

 <div class="form-group">
 </div>

 <div class="col-12">
 <button type="submit" asp-area="admin" asp-controller="users" asp-action="edit"  class="btn btn-default">Сохранить</button></div>
 <div class="col-12">
 <a class="btn btn-default" asp-area="admin" asp-controller="users" asp-action="info" asp-route-Id="@Model.Id">Назад</a>
</div>

 </form>
 </div>



 </div><!-- /.row -->
</div><!-- /.container -->

